#projects-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 2rem;
  width: 100%;
  margin-bottom: 3rem;
}

#projects-container h2 {
  margin-bottom: 2rem;
  font-size: 48px;
  font-weight: 600;
  color: #111827;

}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    width: 100%;
    margin-bottom: 2rem;
}

.project-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background: #fff;
    border-radius: 8px;
    padding: 1.5rem;
    height: 530px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.project-card h4{
    font-size: 30px;
    font-weight: 600;
    color: #4338CA;
    text-align: left;
    margin: 1rem 0;
}

.project-details {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.project-card p {
    font-size: 14px;
    color: #6B7280;
    text-align: justify;
    line-height: 1.3;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    margin-bottom: 1rem;
    flex: 1;
}

.project-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 4px;
    max-height: 200px;
}

.project-card .skills{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    margin-top: auto;
}

.project-card .skills span{
    border: 1px solid #3730a3;
    border-radius: 5px;
    width: 100%;
    height: 30px;
    text-align: center;
    padding-top: 0.2rem;
    font-size: 14px;
    color: #3730a3;
}

.project-links{
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
}

.project-links a{
    color: #3730a3;
}

.dark #projects-container h2 {
  color: white;
}

.dark .project-card {
  background-color: #777777;
}

.dark .project-card p{
  color: white;
}

.dark .project-card .skills span{
  color: white;
}

@media screen and (max-width: 1024px) {
    .projects-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .projects-grid {
        grid-template-columns: 1fr;
    }
    
    .project-card img {
        max-height: 200px;
    }
}



